.background-modal {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    
}

/* .modal-info{
    width: 25vw;
    height: 35vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;

} */

